:root {
    --c-red: hsl(0, 78%, 62%);
    --c-cyan: hsl(180, 62%, 55%);
    --c-orange: hsl(34, 97%, 64%);
    --c-blue: hsl(212, 86%, 64%);
    
    --c-l-gray: hsl(0, 0%, 98%);
    --c-l-blue: hsl(229, 6%, 66%);
    --c-d-blue: hsl(234, 12%, 34%);

    --white: hsl(0, 0%, 100%);
}